<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de canciones{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Album </th>
<th> Intérprete </th>
<th> Compositor </th>
<th> Año </th>
<th> Duracion </th>
<th> Genero </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for cancion in object_list %} 
<tr>
<td>{{ cancion.nombre }}</td>>
<td>{{ cancion.album }}</td>>
<td>{{ cancion.intérprete }}</td>>
<td>{{ cancion.compositor }}</td>>
<td>{{ cancion.año }}</td>>
<td>{{ cancion.duracion }}</td>>
<td>{{ cancion.genero }}</td>>
<td><a href="{% url 'detail2' cancion.id %}">detail</a></td>
<td><a href="{% url 'update2' cancion.id %}">update</a></td>
<td><a href="{% url 'delete2' cancion.id %}">delete</a></td>
</tr>

{% endfor %}

</table>

{% endblock %}


</body>
</html>
