<!DOCTYPE html>
<html>
<head>
	<title> Crear </title>
</head>
<body>
{% block title %}Crear registro{% endblock %}

{% block content %}

<br>
<hr>
<form method= "POST">
	{% csrf_token %}
	{{ form.as_p }}
	
	<button type="submit" class="btn btn-success"> Create </button>

</form>

{{ menssage }}

{% endblock %}


</body>
</html>
