<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Apellido Paterno </th>
<th> Apellido Materno </th>
<th> Nacionalidad </th>
<th> Fecha de nacimiento </th>
<th> Lugar de nacimiento </th>
<th> Correo </th>

<tr>
<td>{{ object.nombre }}</td>>
<td>{{ object.apePat }}</td>>
<td>{{ object.apeMat }}</td>>
<td>{{ object.nacionalidad }}</td>>
<td>{{ object.fechaNac }}</td>>
<td>{{ object.lugarNac }}</td>>
<td>{{ object.correo }}</td>>
</tr>

</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
