<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de registros{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Apellido Paterno </th>
<th> Apellido Materno </th>
<th> Nacionalidad </th>
<th> Fecha de nacimiento </th>
<th> Lugar de nacimiento </th>
<th> Correo </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for registro in object_list %} 
<tr>
<td>{{ registro.nombre }}</td>>
<td>{{ registro.apePat }}</td>>
<td>{{ registro.apeMat }}</td>>
<td>{{ registro.nacionalidad }}</td>>
<td>{{ registro.fechaNac }}</td>>
<td>{{ registro.lugarNac }}</td>>
<td>{{ registro.correo }}</td>>
<td><a href="{% url 'detail2' registro.id %}">detail</a></td>
<td><a href="{% url 'update2' registro.id %}">update</a></td>
<td><a href="{% url 'delete2' registro.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

{% endblock %}


</body>
</html>
