{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

	<H5> {{date}}</H5>

{% block title %}Lista de registros{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_registros").append("<ul> <li>"+value.nombre +"---"+ value.apePat+" : "+value.apeMat+" : "+value.nacionalidad+" : "+value.fechaNac+" : "+value.lugarNac+" : "+value.correo+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

<H5> Version: {{msgVersion}}</H5>

<br> 

 <form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar registro..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 

<H5> No. de registros: {{count}} </H5>

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Apellido Paterno </th>
<th> Apellido Materno </th>
<th> Nacionalidad </th>
<th> Fecha de nacimiento </th>
<th> Lugar de nacimiento </th>
<th> Correo </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for registro in list_registros %} 
<tr>
<td>{{ registro.nombre }}</td>>
<td>{{ registro.apePat }}</td>>
<td>{{ registro.apeMat }}</td>>
<td>{{ registro.nacionalidad }}</td>>
<td>{{ registro.fechaNac }}</td>>
<td>{{ registro.lugarNac }}</td>>
<td>{{ registro.correo }}</td>>
<td><a href="{% url 'detail' registro.id %}">detail</a></td>
<td><a href="{% url 'update' registro.id %}">update</a></td>
<td><a href="{% url 'delete' registro.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

<div id="list_registros">

{% endblock %}


</body>
</html>
