<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Plataforma </th>
<th> Año de lanzamiento </th>
<th> Genero </th>
<th> Formato </th>

<tr>
<td>{{ object.nombre }}</td>>
<td>{{ object.plataforma }}</td>>
<td>{{ object.fecha_de_lanzamiento }}</td>>
<td>{{ object.genero }}</td>>
<td>{{ object.formato }}</td>>
</tr>

</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
