{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>


				<H5> {{date}}</H5>

{% block title %}Lista de videojuegos{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_videojuegos").append("<ul> <li>"+value.nombre +"---"+ value.plataforma+" : "+value.fecha_de_lanzamiento+" : "+value.genero+" : "+value.formato+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

<H5> Version: {{msgVersion}}</H5>

<br>

<form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar videojuego..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 

<H5> No. de registros: {{count}} </H5>

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Plataforma </th>
<th> Año de lanzamiento </th>
<th> Genero </th>
<th> Formato </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for videojuego in list_videojuegos %} 
<tr>
<td>{{ videojuego.nombre }}</td>>
<td>{{ videojuego.plataforma }}</td>>
<td>{{ videojuego.fecha_de_lanzamiento }}</td>>
<td>{{ videojuego.genero }}</td>>
<td>{{ videojuego.formato }}</td>>
<td><a href="{% url 'detail' videojuego.id %}">detail</a></td>
<td><a href="{% url 'update' videojuego.id %}">update</a></td>
<td><a href="{% url 'delete' videojuego.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

<div id="list_videojuegos">

{% endblock %}


</body>
</html>
