<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de videojuegos{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Plataforma </th>
<th> Año de lanzamiento </th>
<th> Genero </th>
<th> Formato </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for videojuego in object_list %} 
<tr>
<td>{{ videojuego.nombre }}</td>>
<td>{{ videojuego.plataforma }}</td>>
<td>{{ videojuego.fecha_de_lanzamiento }}</td>>
<td>{{ videojuego.genero }}</td>>
<td>{{ videojuego.formato }}</td>>
<td><a href="{% url 'detail2' videojuego.id %}">detail</a></td>
<td><a href="{% url 'update2' videojuego.id %}">update</a></td>
<td><a href="{% url 'delete2' videojuego.id %}">delete</a></td>
</tr>

{% endfor %}

</table>

{% endblock %}


</body>
</html>
