<!DOCTYPE html>
<html>
<head>
	<title> Delete </title>
</head>
<body>

{% block title %} Delete registro {% endblock %}

{% block content %}

	<h3>Realmente quieres eliminar este registro?? || {{ object }} || </h3>
	<form method="POST">
		{% csrf_token %}
		<button type="submit" class="btn btn-outline-danger">Delete</button>
		<a class="btn btn-link" href="{% url 'list' %}">Return</a>
	</form>
{% endblock %}



</body>
</html>