<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre del producto </th>
<th> Codigo </th>
<th> Descripcion </th>
<th> Precio </th>
<th> Tamaño </th>

<tr>
<td>{{ object.nombre }}</td>>
<td>{{ object.codigo }}</td>>
<td>{{ object.descripcion }}</td>>
<td>{{ object.precio }}</td>>
<td>{{ object.tamano }}</td>>
</tr>


</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
