{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

					<H5> {{date}}</H5>

{% block title %}Lista de inventarios{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_inventarios").append("<ul> <li>"+value.nombre +"---"+ value.codigo+" : "+value.descripcion+" : "+value.precio+" : "+value.tamano+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

<H5> Version: {{msgVersion}}</H5>

<br> 

<form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar producto..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 

<H5> No. de registros: {{count}} </H5>

<table class = "table table-strip"> 

<th> Nombre del producto </th>
<th> Codigo </th>
<th> Descripcion </th>
<th> Precio </th>
<th> Tamaño </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for inventario in list_inventarios %} 
<tr>
<td>{{ inventario.nombre }}</td>>
<td>{{ inventario.codigo }}</td>>
<td>{{ inventario.descripcion }}</td>>
<td>{{ inventario.precio }}</td>>
<td>{{ inventario.tamano }}</td>>
<td><a href="{% url 'detail' inventario.id %}">detail</a></td>
<td><a href="{% url 'update' inventario.id %}">update</a></td>
<td><a href="{% url 'delete' inventario.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

<div id="list_inventarios">
	
{% endblock %}


</body>
</html>
