<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de inventario{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre del producto </th>
<th> Codigo </th>
<th> Descripcion </th>
<th> Precio </th>
<th> Tamaño </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for inventario in object_list %} 
<tr>
<td>{{ inventario.nombre }}</td>>
<td>{{ inventario.codigo }}</td>>
<td>{{ inventario.descripcion }}</td>>
<td>{{ inventario.precio }}</td>>
<td>{{ inventario.tamano }}</td>>
<td><a href="{% url 'detail2' inventario.id %}">detail</a></td>
<td><a href="{% url 'update2' inventario.id %}">update</a></td>
<td><a href="{% url 'delete2' inventario.id %}">delete</a></td>
</tr>

{% endfor %}

</table>

{% endblock %}


</body>
</html>
