<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Apellido Paterno </th>
<th> Apellido Materno </th>
<th> No. de Control </th>
<th> Carrera </th>
<th> CURP </th>
<th> Correo Institucional </th>
<th> Tipo de sangre </th>
<th> Telefono </th>

<tr>
<td>{{ object.nombre }}</td>>
<td>{{ object.apePat }}</td>>
<td>{{ object.apeMat }}</td>>
<td>{{ object.no_de_Control }}</td>>
<td>{{ object.carrera }}</td>>
<td>{{ object.curp }}</td>>
<td>{{ object.correo_institucional }}</td>>
<td>{{ object.tipo_de_sangre }}</td>>
<td>{{ object.telefono }}</td>>
</tr>

</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
