<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de tramite para credenciales de estudiantes{% endblock %}

{% block content %}

<br> 
<table class = "table table-strip"> 
<th> Nombre </th>
<th> Apellido Paterno </th>
<th> Apellido Materno </th>
<th> No. de Control </th>
<th> Carrera </th>
<th> CURP </th>
<th> Correo Institucional </th>
<th> Tipo de sangre </th>
<th> Telefono </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for credencial in object_list %} 
<tr>
<td>{{ credencial.nombre }}</td>>
<td>{{ credencial.apePat }}</td>>
<td>{{ credencial.apeMat }}</td>>
<td>{{ credencial.no_de_Control }}</td>>
<td>{{ credencial.carrera }}</td>>
<td>{{ credencial.curp }}</td>>
<td>{{ credencial.correo_institucional }}</td>>
<td>{{ credencial.tipo_de_sangre }}</td>>
<td>{{ credencial.telefono }}</td>>
<td><a href="{% url 'detail2' credencial.id %}">detail</a></td>
<td><a href="{% url 'update2' credencial.id %}">update</a></td>
<td><a href="{% url 'delete2' credencial.id %}">delete</a></td>
</tr>

{% endfor %}
</table>
{% endblock %}

</body>
</html>
