{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

		<H5> {{date}}</H5>

{% block title %}Lista de tramite para credenciales de estudiantes{% endblock %}
{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_credencials").append("<ul> <li>"+value.nombre +"---"+ value.apePat+" : "+value.apeMat+" : "+value.no_de_Control+" : "+value.carrera+" : "+value.curp+" : "+value.correo_institucional+" : "+value.tipo_de_sangre+" : "+value.telefono+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

<H5> Version: {{msgVersion}}</H5>

<br> 
 <form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar alumno..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 


<H5> No. de registros: {{count}} </H5>


<table class = "table table-strip"> 

<th> Nombre </th>
<th> Apellido Paterno </th>
<th> Apellido Materno </th>
<th> No. de Control </th>
<th> Carrera </th>
<th> CURP </th>
<th> Correo Institucional </th>
<th> Tipo de sangre </th>
<th> Telefono </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for credencial in list_credencials %} 
<tr>
<td>{{ credencial.nombre }}</td>>
<td>{{ credencial.apePat }}</td>>
<td>{{ credencial.apeMat }}</td>>
<td>{{ credencial.no_de_Control }}</td>>
<td>{{ credencial.carrera }}</td>>
<td>{{ credencial.curp }}</td>>
<td>{{ credencial.correo_institucional }}</td>>
<td>{{ credencial.tipo_de_sangre }}</td>>
<td>{{ credencial.telefono }}</td>>
<td><a href="{% url 'detail' credencial.id %}">detail</a></td>
<td><a href="{% url 'update' credencial.id %}">update</a></td>
<td><a href="{% url 'delete' credencial.id %}">delete</a></td>
</tr>

{% endfor %}
</table>

<div id="list_credencials">
	
{% endblock %}
</body>
</html>
