{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Crear </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>
{% block title %} Ingresar datos para tarjeta de credito/debito {% endblock %}

{% block content %}

<br>
<hr>
<form id="tarjetas_form" class="form" method= "POST">
	{% csrf_token %}
	{{ form.as_p }}
	
	<button type="submit" class="btn btn-success"> Create </button>

</form>

{{ menssage }}

<script type="text/javascript">
	
	$("#tarjetas_form").submit(function(event){ 
		event.preventDefault()
		var this_ = $(this)
		var formData = this_.serialize()

		$.ajax({
			url:"/endpoint/create",
			method:"POST",
			data:formData,

			success: function(data){
				console.log(data)
			},

			error: function(data){
				console.log(error)
				console.log(data)
			}
		})
	})

</script>

{% endblock %}


</body>
</html>
