<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre en la Tarjeta </th>
<th> Tipo de Tarjeta </th>
<th> Fecha de Vencimiento </th>
<th> CVV2_CVC2 </th>
<th> NIP </th>

<tr>
<td>{{ object.nombre_en_la_tarjeta }}</td>>
<td>{{ object.tipo_de_tarjeta }}</td>>
<td>{{ object.fecha_de_vencimiento }}</td>>
<td>{{ object.CVV2_CVC2 }}</td>>
<td>{{ object.NIP }}</td>>
</tr>


</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
