{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

			<H5> {{date}}</H5>

{% block title %}Lista de tarjetas de credito/debito{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_tarjetas").append("<ul> <li>"+value.nombre_en_la_tarjeta +"---"+ value.tipo_de_tarjeta+" : "+value.fecha_de_vencimiento+" : "+value.CVV2_CVC2+" : "+value.NIP+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

<H5> Version: {{msgVersion}}</H5>

<br> 

<form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar nombre en la tarjeta..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 

<H5> No. de registros: {{count}} </H5>

<table class = "table table-strip"> 

<th> Nombre en la Tarjeta </th>
<th> Tipo de Tarjeta </th>
<th> Fecha de Vencimiento </th>
<th> CVV2_CVC2 </th>
<th> NIP </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for tarjeta in list_tarjetas %} 
<tr>
<td>{{ tarjeta.nombre_en_la_tarjeta }}</td>>
<td>{{ tarjeta.tipo_de_tarjeta }}</td>>
<td>{{ tarjeta.fecha_de_vencimiento }}</td>>
<td>{{ tarjeta.CVV2_CVC2 }}</td>>
<td>{{ tarjeta.NIP }}</td>>
<td><a href="{% url 'detail' tarjeta.id %}">detail</a></td>
<td><a href="{% url 'update' tarjeta.id %}">update</a></td>
<td><a href="{% url 'delete' tarjeta.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

<div id="list_tarjetas">

{% endblock %}


</body>
</html>
