<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de tarjetas de credito/debito{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre en la Tarjeta </th>
<th> Tipo de Tarjeta </th>
<th> Fecha de Vencimiento </th>
<th> CVV2_CVC2 </th>
<th> NIP </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for tarjeta in object_list %} 
<tr>
<td>{{ tarjeta.nombre_en_la_tarjeta }}</td>>
<td>{{ tarjeta.tipo_de_tarjeta }}</td>>
<td>{{ tarjeta.fecha_de_vencimiento }}</td>>
<td>{{ tarjeta.CVV2_CVC2 }}</td>>
<td>{{ tarjeta.NIP }}</td>>
<td><a href="{% url 'detail2' tarjeta.id %}">detail</a></td>
<td><a href="{% url 'update2' tarjeta.id %}">update</a></td>
<td><a href="{% url 'delete2' tarjeta.id %}">delete</a></td>
</tr>

{% endfor %}

</table>

{% endblock %}


</body>
</html>
