<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Director </th>
<th> Año </th>
<th> Duracion (mins) </th>
<th> Genero </th>

<tr>
<td>{{ object.nombre }}</td>>
<td>{{ object.director }}</td>>
<td>{{ object.año }}</td>>
<td>{{ object.duracion }}</td>>
<td>{{ object.genero }}</td>>
</tr>

</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
