{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

				<H5> {{date}}</H5>

{% block title %}Lista de peliculas{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_peliculas").append("<ul> <li>"+value.nombre +"---"+ value.director+" : "+value.año+" : "+value.duracion+" : "+value.genero+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

<H5> Version: {{msgVersion}}</H5>

<br> 

<form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar pelicula..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 

<H5> No. de registros: {{count}} </H5>

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Director </th>
<th> Año </th>
<th> Duracion (mins) </th>
<th> Genero </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for pelicula in list_peliculas %} 
<tr>
<td>{{ pelicula.nombre }}</td>>
<td>{{ pelicula.director }}</td>>
<td>{{ pelicula.año }}</td>>
<td>{{ pelicula.duracion }}</td>>
<td>{{ pelicula.genero }}</td>>
<td><a href="{% url 'detail' pelicula.id %}">detail</a></td>
<td><a href="{% url 'update' pelicula.id %}">update</a></td>
<td><a href="{% url 'delete' pelicula.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

<div id="list_peliculas">

{% endblock %}


</body>
</html>
