<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de pokemons{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Director </th>
<th> Año </th>
<th> Duracion (mins) </th>
<th> Genero </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for pelicula in object_list %} 
<tr>
<td>{{ pelicula.nombre }}</td>>
<td>{{ pelicula.director }}</td>>
<td>{{ pelicula.año }}</td>>
<td>{{ pelicula.duracion }}</td>>
<td>{{ pelicula.genero }}</td>>
<td><a href="{% url 'detail2' pelicula.id %}">detail</a></td>
<td><a href="{% url 'update2' pelicula.id %}">update</a></td>
<td><a href="{% url 'delete2' pelicula.id %}">delete</a></td>
</tr>

{% endfor %}

</table>

{% endblock %}


</body>
</html>
