<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Sexo </th>
<th> Edad (Aproximada) </th>
<th> Fecha de Rescate </th>
<th> Nombre del Dueño </th>

<tr>
<td>{{ object.nombre }}</td>>
<td>{{ object.sexo }}</td>>
<td>{{ object.edad_aproximada }}</td>>
<td>{{ object.fechaRescate }}</td>>
<td>{{ object.nombre_del_dueño }}</td>>
</tr>


</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
