{% load staticfiles %}

<!DOCTYPE html >
<html lang="es">
<head>
		<meta charset="UTF-8">

		{% block extrastatic %}
		{% endblock %}

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<title>{% block title %} Pagina 1 {% endblock %}</title>
</head>
<body>
<div class="container">


{% block navbar %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ventana 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ventana 2</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Crear usuario</a>
          <a class="dropdown-item" href="#">Iniciar sesion</a>
          <a class="dropdown-item" href="#">Configuraciones</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

   {% endblock %}

   {% block content %}
   <h1> Proyecto 2 - 1 </h1>
   {% endblock %}


   {% block footer %}
   {% endblock %}

</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

	{% block extrajs %}
   {% endblock %}

</body>
</html>