<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de mascotas{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Sexo </th>
<th> Edad (Aproximada) </th>
<th> Fecha de Rescate </th>
<th> Nombre del Dueño </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for mascota in object_list %} 
<tr>
<td>{{ mascota.nombre }}</td>>
<td>{{ mascota.sexo }}</td>>
<td>{{ mascota.edad_aproximada }}</td>>
<td>{{ mascota.fechaRescate }}</td>>
<td>{{ mascota.nombre_del_dueño }}</td>>
<td><a href="{% url 'detail2' mascota.id %}">detail</a></td>
<td><a href="{% url 'update2' mascota.id %}">update</a></td>
<td><a href="{% url 'delete2' mascota.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

{% endblock %}


</body>
</html>
