{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

			<H5> {{date}}</H5>

{% block title %}Lista de mascotas{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_mascotas").append("<ul> <li>"+value.nombre +"---"+ value.sexo+" : "+value.edad_aproximada+" : "+value.fechaRescate+" : "+value.nombre_del_dueño+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

	<H5> Version: {{msgVersion}}</H5>


<br> 

 <form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar mascota..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 

<H5> No. de registros: {{count}} </H5>

<table class = "table table-strip"> 

<th> Nombre </th>
<th> Sexo </th>
<th> Edad (Aproximada) </th>
<th> Fecha de Rescate </th>
<th> Nombre del Dueño </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for mascota in list_mascotas %} 
<tr>
<td>{{ mascota.nombre }}</td>>
<td>{{ mascota.sexo }}</td>>
<td>{{ mascota.edad_aproximada }}</td>>
<td>{{ mascota.fechaRescate }}</td>>
<td>{{ mascota.nombre_del_dueño }}</td>>
<td><a href="{% url 'detail' mascota.id %}">detail</a></td>
<td><a href="{% url 'update' mascota.id %}">update</a></td>
<td><a href="{% url 'delete' mascota.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

<div id="list_mascotas">

{% endblock %}


</body>
</html>
