<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre de pokemons </th>
<th> Tipo de pokemon </th>
<th> Nivel del pokemon </th>


<tr>
<td>{{ object.nombre }}</td>>
<td>{{ object.tipo }}</td>>
<td>{{ object.nivel }}</td>>
</tr>


</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
