<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de pokemons{% endblock %}

{% block content %}


<br> 

<table class = "table table-strip"> 

<th> Nombre de pokemons </th>
<th> Tipo de pokemon </th>
<th> Nivel del pokemon </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	


{% for pokemon in object_list %} 
<tr>
<td>{{ pokemon.nombre }}</td>>
<td>{{ pokemon.tipo }}</td>>
<td>{{ pokemon.nivel }}</td>>
<td><a href="{% url 'detail2' pokemon.id %}">detail</a></td>
<td><a href="{% url 'update2' pokemon.id %}">update</a></td>
<td><a href="{% url 'delete2' pokemon.id %}">delete</a></td>

</tr>


{% endfor %}

</table>

{% endblock %}


</body>
</html>
