{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

		<H5> {{date}}</H5>

{% block title %}Lista de pokemons{% endblock %}

{% block content %}


<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_pokemons").append("<ul> <li>"+value.nombre +"---"+ value.tipo+" : "+value.nivel+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

	<H5> Version: {{msgVersion}}</H5>

<br> 

 <form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar pokemon..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 

<H5> No. de pokemons: {{countPoke}} </H5>

<table class = "table table-strip"> 

<th> Nombre de pokemons </th>
<th> Tipo de pokemon </th>
<th> Nivel del pokemon </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	


{% for pokemon in list_pokemons %} 
<tr>
<td>{{ pokemon.nombre }}</td>>
<td>{{ pokemon.tipo }}</td>>
<td>{{ pokemon.nivel }}</td>>
<td><a href="{% url 'detail' pokemon.id %}">detail</a></td>
<td><a href="{% url 'update' pokemon.id %}">update</a></td>
<td><a href="{% url 'delete' pokemon.id %}">delete</a></td>

</tr>

{% endfor %}

</table>

<div id="list_pokemons">

{% endblock %}

</body>
</html>
