<!DOCTYPE html>
<html>
<head>
	<title> Actualizar </title>
</head>
<body>

{% block title %}Actualizar Pokemons{% endblock %}

{% block content %}

	<form class="form-group" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-outline-primary form-control">Create</button>
		<button type="reset" class="btn btn-outline-warning form-control"  onclick="history.back()">Cancel</button>
	</form>

	{{ message }}

{% endblock %}


</body>
</html>
