<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Modelo </th>
<th> Marca </th>
<th> Memoria(gbs) </th>
<th> Color </th>
<th> Caracteristicas </th>

<tr>
<td>{{ object.modelo }}</td>>
<td>{{ object.marca }}</td>>
<td>{{ object.memoria }}</td>>
<td>{{ object.color }}</td>>
<td>{{ object.caracteristica }}</td>>
</tr>


</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
