{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

					<H5> {{date}}</H5>

{% block title %}Lista de Celulares{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint/",
			method:"GET",
			success: function(data){
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_celulars").append("<ul> <li>"+value.modelo +"---"+ value.marca+" : "+value.memoria+" : "+value.color+" : "+value.caracteristica+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

</script>

<H5> Version: {{msgVersion}}</H5>

<br> 

<form type="get" action="." role="search">
  <div>
    <input type="search" id="miBusqueda" name="q"
     placeholder="Buscar celular..." 
     aria-label="Buscar en el contenido del sitio">
    <button id="botonBus" type="submit" ref="{% url 'list' %}"> Buscar </button>
  </div>
</form> 

<H5> No. de registros: {{count}} </H5>

<table class = "table table-strip"> 

<th> Modelo </th>
<th> Marca </th>
<th> Memoria (gbs) </th>
<th> Color </th>
<th> Caracteristicas </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for celular in list_celulars %} 
<tr>
<td>{{ celular.modelo }}</td>>
<td>{{ celular.marca }}</td>>
<td>{{ celular.memoria }}</td>>
<td>{{ celular.color }}</td>>
<td>{{ celular.caracteristica }}</td>>
<td><a href="{% url 'detail' celular.id %}">detail</a></td>
<td><a href="{% url 'update' celular.id %}">update</a></td>
<td><a href="{% url 'delete' celular.id %}">delete</a></td>
</tr>


{% endfor %}

</table>

<div id="list_celulars">

{% endblock %}


</body>
</html>
