<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de celular{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Modelo </th>
<th> Marca </th>
<th> Memoria (gbs) </th>
<th> Color </th>
<th> Caracteristicas </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	

{% for celular in object_list %} 
<tr>
<td>{{ celular.modelo }}</td>>
<td>{{ celular.marca }}</td>>
<td>{{ celular.memoria }}</td>>
<td>{{ celular.color }}</td>>
<td>{{ celular.caracteristica }}</td>>
<td><a href="{% url 'detail2' celular.id %}">detail</a></td>
<td><a href="{% url 'update2' celular.id %}">update</a></td>
<td><a href="{% url 'delete2' celular.id %}">delete</a></td>
</tr>



{% endfor %}

</table>

{% endblock %}


</body>
</html>
